<!DOCTYPE html>
<html lang="en">

<head>
	<title>Đăng nhập</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
	<link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
	<link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
	<link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
	<link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
	<link rel="shortcut icon" type="image/png" href="~/logo.jpg" />
	<link href="~/admin/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
	<link href="~/admin/assets/css/lib/themify-icons.css" rel="stylesheet" />
	<link href="~/admin/assets/css/lib/mmc-chat.css" rel="stylesheet" />
	<link href="~/admin/assets/css/lib/sidebar.css" rel="stylesheet">
	<link href="~/admin/assets/css/lib/bootstrap.min.css" rel="stylesheet">
	<link href="~/admin/assets/css/lib/toastr/toastr.min.css" rel="stylesheet">
	<link href="~/admin/assets/css/lib/nixon.css" rel="stylesheet">
	<link href="~/admin/assets/lib/lobipanel/css/lobipanel.min.css" rel="stylesheet">
	<link href="~/admin/assets/css/style.css" rel="stylesheet">
</head>

<body class="bg-primary">
	<div class="Nixon-login">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<div class="login-content">
						<div class="login-logo">
							<a href="/Home/Index"><span>Trang chủ</span></a>
						</div>
						<div class="login-form">
							<h4>Đăng nhập trang quản trị</h4>
							<form>
								<div class="form-group">
									<label>Tài khoản</label>
									<input type="text" id="txtUserName" class="form-control" placeholder="Không được để trống">
								</div>
								<div class="form-group">
									<label>Mật khẩu</label>
									<input type="password" id="txtPass" class="form-control" placeholder="Không được để trống">
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox"> Ghi nhớ
									</label>
									<label class="pull-right">
										<a href="page-reset-password.html">Quên mật khẩu?</a>
									</label>
								</div>
								<input type="button" class="btn btn-primary btn-flat m-b-30 m-t-30" onclick="DangNhap()" value="ĐĂNG NHẬP">
								@*<div class="social-login-content">
									<div class="social-button">
										<button type="button" class="btn btn-primary bg-facebook btn-flat btn-addon m-b-10"><i class="ti-facebook"></i>Sign in with facebook</button>
										<button type="button" class="btn btn-primary bg-twitter btn-flat btn-addon m-t-10"><i class="ti-twitter"></i>Sign in with twitter</button>
									</div>
								</div>*@
								@*<div class="register-link m-t-15 text-center">
									<p>Don't have account ? <a href="page-register.html"> Sign Up Here</a></p>
								</div>*@
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/admin/assets/js/lib/jquery.min.js"></script><!-- jquery vendor -->
	<script src="~/admin/assets/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
	<script src="~/admin/assets/js/lib/sidebar.js"></script><!-- sidebar -->
	<script src="~/admin/assets/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
	<script src="~/admin/assets/js/lib/mmc-common.js"></script>
	<script src="~/admin/assets/js/lib/mmc-chat.js"></script>
	<script src="~/admin/assets/js/lib/toastr/toastr.min.js"></script><!-- scripit init-->
	<script src="~/admin/assets/js/lib/toastr/toastr.init.js"></script><!-- scripit init-->
	<script src="~/admin/assets/js/scripts.js"></script><!-- scripit init-->
	<script>
		function DangNhap() {
			var username = $('#txtUserName').val();
			var password = $('#txtPass').val();
			if (username == '' || password == '') {
				toastr.error('Chưa nhập username hoặc pasword!','Thông báo',{
				"positionClass": "toast-top-right",
				timeOut: 5000,
				"closeButton": true,
				"debug": false,
				"newestOnTop": true,
				"progressBar": true,
				"preventDuplicates": true,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "1000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut",
				"tapToDismiss": false
				})
			}
			else{
				var fData=new FormData();
				fData.append('username', username);
				fData.append('password', password);
				$.ajax({
					async: false,
					url: '/Admin/Home/DangNhap',
					data: {
						username:username,
						password:password
					},
					dataType: "json",
					type:'GET',
					cache: false,
					contentType: false,
					processData: false,
					success: function (res) {
						if (res.status == true) {
							toastr.error(res.mess,'Thông báo!', 5000);
							setTimeout(function(){
								location.url='/Admin/Home/Index';
							}, 1000);
						} else {
						    alert("Cannot add to list !");
						}
					},
					error: function(){
						toastr.error('Có lỗi xảy ra, vui lòng thử lại sau','Lỗi!', 5000);
					}
				})
			}
		}
	</script>
</body>
</html>
